.header {
  width: 100%;
  position: absolute;
  top: 40px;
}
.main_header {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .header {
    width: 100%;
    position: absolute;
    top: 10px;
  }
  .main_header {
    height: 50px;
  }
}
.hide-navlinks {
  right: -100%;
}
.hide-sidebar {
  opacity: 0;
}

.dropmenu_wrapper {
  position: absolute;
  top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5px;
  text-align: left;
  background: rgba(181, 149, 113, 1);
  padding: 5px 0;
  z-index: 99;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  display: none;
}
.dropmenu_wrapper .dropmenu_item {
  cursor: pointer;
  color: #fff;
  font-size: 10px;
  padding: 5px;
  transition: all 0.1s;
  border: 2px dotted rgba(138, 113, 86, 0);
}
.dropmenu_wrapper .dropmenu_item:hover {
  /* background: rgb(182, 144, 101); */
  border-color: rgba(138, 113, 86, 1);
}
