.footer {
  height: 166px;
  background-color: var(--black-color);
}

.footer_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 476px;
  margin: 0 auto;
  padding-top: 55px;
  gap: 10px;
}
.footer_item {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: var(--footer-text-color);
}
.footer_item:nth-last-child(3) {
  font-size: 13px;
}
.footer_item span {
  font-size: 13px;
  color: var(--secondary-color);
}

@media only screen and (max-width: 767px) {
  .footer {
    height: auto;
  }
  .footer_wrapper {
    flex-direction: column;
    width: 100%;
    padding: 25px 0;
    gap: 0;
  }
}
