.form-control {
  /* margin: 1rem 0; */
  position: relative;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}

.form-control label {
  font-weight: bold;
  /* margin-bottom: 0.5rem; */
}

.form-control input,
.form-control textarea {
  width: 100%;
  height: 50px;
  border: none;
  background: transparent;
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: var(--footer-text-color);
  line-height: 18px;
  position: relative;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
}

.form-control--invalid label,
.form-control--invalid p {
  color: rgb(230, 34, 93);
}

/* .form-control--invalid input,
.form-control--invalid textarea {
  border-color: var(--color-secondary);
} */

.placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  color: #828282;
  padding: 0 16px;
  position: absolute;
  top: 16px;
  transition: all 0.3s;
  height: 18px;
}
@media only screen and (max-width: 767px) {
  .form-control input {
    height: 40px;
  }
}
