.featured_container {
  height: 678px;
}
.featured_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
}

.featured_footer_text {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: var(--primary-color);
  margin-top: 30px;
}
.featured_footer_text span a {
  color: var(--secondary-color);
}
@media only screen and (max-width: 767px) {
  .featured_footer_text {
    width: 230px;
  }
}
.featured_stories_items_wrapper {
  height: 295px;
  width: 960px;
  display: flex;
}
@media only screen and (max-width: 767px) {
  .featured_container {
    height: auto;
  }
  .featured_wrapper {
    padding: 40px 0 20px;
  }
  .featured_stories_items_wrapper {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
